dev/esp8266/codos_WeMos_D1_Mini_Pro/NodeRED_flows_Dashboad.json
[{"id":"ed8477ab.a3cb28","type":"tab","label":"CODOS","disabled":false,"info":""},{"id":"4baa4b4b.6aaef4","type":"ttn app","z":"","appId":"domohome_garage","accessKey":"ttn-account-v2.6AJIOaOML9uNym4En1JgKP43Ve0pecN8pRqi_hIKrL8","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"7bf6b7b.92b1748","type":"ui_group","z":"","name":"CODOS","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"cd09ddb.931d62","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0080ff","baseFont":"Arial Narrow,Nimbus Sans L,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#0080ff","edited":true},"page-titlebar-backgroundColor":{"value":"#0080ff","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#4da6ff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0080ff","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial Narrow,Nimbus Sans L,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"CODOS Makespace Mallorca","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":40,"gx":6,"gy":6,"cx":0,"cy":0,"px":0,"py":0}}},{"id":"4a983741.86c528","type":"MySQLdatabase","z":"","name":"","host":"192.168.1.114","port":"3306","db":"measurements","tz":""},{"id":"aa19fdd8.f8cee","type":"ttn app","z":"","appId":"mcorts_lds01_dragino_1","accessKey":"ttn-account-v2.hsKhf0HqQuzUZV2wELUaXU7owa3pBToHN5SNw460euI","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"61a0a302.e0933c","type":"MySQLdatabase","z":"","name":"","host":"192.168.1.114","port":"3306","db":"measurements","tz":"","charset":"UTF8"},{"id":"3ad86cdb.2729f4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"2d4eaff4.f86f9","type":"ui_group","z":"","name":"Sensor de Calidad el Aire","tab":"5af4b89b.69ec28","order":1,"disp":true,"width":"9","collapse":true},{"id":"5af4b89b.69ec28","type":"ui_tab","z":"","name":"CODOS Makespace Mallorca","icon":"fa-thermometer-half","order":7,"disabled":false,"hidden":false},{"id":"b919430b.48d6","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.114","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ad013db5.c920e","type":"mqtt in","z":"ed8477ab.a3cb28","name":"","topic":"/home/airqualitysensor/co2","qos":"2","datatype":"auto","broker":"b919430b.48d6","x":130,"y":60,"wires":[["4f173aa7.e06904","e4211391.c7063"]]},{"id":"205e47b0.371458","type":"mqtt in","z":"ed8477ab.a3cb28","name":"","topic":"/home/airqualitysensor/tvoc","qos":"2","datatype":"auto","broker":"b919430b.48d6","x":130,"y":120,"wires":[["3cdeb363.c640fc","d4e98282.47298"]]},{"id":"3cdeb363.c640fc","type":"ui_gauge","z":"ed8477ab.a3cb28","name":"TVOC","group":"2d4eaff4.f86f9","order":3,"width":3,"height":3,"gtype":"wave","title":"TVOC","label":"","format":"{{value}}","min":0,"max":"2500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":140,"wires":[]},{"id":"4f173aa7.e06904","type":"ui_gauge","z":"ed8477ab.a3cb28","name":"","group":"2d4eaff4.f86f9","order":2,"width":3,"height":3,"gtype":"gage","title":"CO2","label":"ppm","format":"{{value}}","min":"400","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":60,"wires":[]},{"id":"5b479451.c1012c","type":"ui_chart","z":"ed8477ab.a3cb28","name":"","group":"2d4eaff4.f86f9","order":1,"width":9,"height":6,"label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"3000","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff8000","#8080ff","#000000","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":750,"y":100,"wires":[[],[]]},{"id":"1e4029.9dab7fd7","type":"inject","z":"ed8477ab.a3cb28","name":"reset","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":40,"wires":[["5b479451.c1012c"]]},{"id":"5d32440d.7a496c","type":"ui_switch","z":"ed8477ab.a3cb28","name":"","label":"Test luces","tooltip":"","group":"2d4eaff4.f86f9","order":4,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"LightOn","onvalueType":"str","onicon":"","oncolor":"","offvalue":"LightOff","offvalueType":"str","officon":"","offcolor":"","x":400,"y":180,"wires":[["71c6d25a.642b1c"]]},{"id":"71c6d25a.642b1c","type":"mqtt out","z":"ed8477ab.a3cb28","name":"","topic":"/home/airqualitysensor/operation","qos":"2","retain":"","broker":"b919430b.48d6","x":750,"y":180,"wires":[]},{"id":"e4211391.c7063","type":"function","z":"ed8477ab.a3cb28","name":"add topic","func":"msg.payload = msg.payload;\nmsg.topic = \"CO2\";\nreturn [msg];","outputs":1,"noerr":0,"x":440,"y":80,"wires":[["5b479451.c1012c"]],"outputLabels":["Sunset"]},{"id":"d4e98282.47298","type":"function","z":"ed8477ab.a3cb28","name":"add topic","func":"msg.payload = msg.payload;\nmsg.topic = \"TVOC\";\nreturn [msg];","outputs":1,"noerr":0,"x":480,"y":120,"wires":[["5b479451.c1012c"]],"outputLabels":["Sunset"]},{"id":"f1a8b382.ceccd","type":"ui_slider","z":"ed8477ab.a3cb28","name":"","label":"CO2 limite","tooltip":"","group":"2d4eaff4.f86f9","order":8,"width":9,"height":1,"passthru":true,"outs":"end","topic":"threshold","min":"400","max":"6000","step":"100","x":410,"y":220,"wires":[["71c6d25a.642b1c"]]}]